<!-- TOP NAVBAR -->
<nav class="bg-white shadow-sm px-6 py-3 flex items-center justify-between">

  <!-- Left -->
  <div class="flex items-center gap-3">
    <button class="px-3 py-2 rounded-md border border-gray-300 hover:bg-gray-100" onclick="toggleSidebar()">
      ☰
    </button>
    <div class="flex items-center gap-0">
      <img src="/images/placeholder.jpg" alt="Paarsh Edu" class="w-10 h-9 object-cover rounded-sm contrast-105 brightness-100" />
      <img src="/images/Paarsh.jpeg" alt="Paarsh eLearning" class="h-10 w-auto object-contain bg-white px-2 py-1 rounded-sm contrast-125 brightness-230 mt-1" />

    </div>
  </div>

  <!-- Right -->
  <div class="flex items-center gap-4">
    <input
      class="w-[220px] hidden sm:block px-3 py-2 rounded-lg border border-gray-300 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      placeholder="Search students, courses..." />

    <!-- Notifications -->
    <div class="relative">
      <button class="px-3 py-2 rounded-md bg-gray-100 hover:bg-gray-200 relative" onclick="toggleDropdown('notifMenu')">
        🔔
        <span class="absolute -top-2 -right-2 bg-red-600 text-white text-xs px-2 py-[1px] rounded-full">
          3
        </span>
      </button>

      <div id="notifMenu" class="hidden absolute right-0 mt-2 w-48 bg-white shadow-md rounded-lg overflow-hidden">
        <div class="px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer">New Enrollment</div>
        <div class="px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer">Payment Pending</div>
        <div class="px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer">New Enquiry</div>
      </div>
    </div>

    <!-- Admin Dropdown -->
    <div class="relative">
      <button class="px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-100 text-sm"
        onclick="toggleDropdown('adminMenu')">
        Admin ⌄
      </button>

      <div id="adminMenu" class="hidden absolute right-0 mt-2 w-40 bg-white shadow-md rounded-lg overflow-hidden">
        <div class="px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer">Profile</div>
        <div class="px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer">Settings</div>
        <div class="border-t"></div>
        <a href="/auth/logout" class="px-4 py-4 text-sm text-red-600  cursor-pointer">
          Log out
        </a>
      </div>
    </div>
</nav>